<a href="https://colab.research.google.com/github/ShixuanGuo/Airbnb-Data-Analysis/blob/master/XGboostModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [3]:
data = pd.read_csv("/content/drive/My Drive/finch research/without_desc.csv")

In [5]:
data.head()

  grade home_ownership  ... pub_rec_bankruptcies loan_status
0     C       MORTGAGE  ...                  0.0           0
1     C       MORTGAGE  ...                  0.0           0
2     B       MORTGAGE  ...                  0.0           0
3     C       MORTGAGE  ...                  0.0           0
4     F       MORTGAGE  ...                  0.0           0

[5 rows x 64 columns]

In [ ]:
data.shape

(2260668, 64)

###Split train and test dataset

In [4]:
onehot_columns = ['home_ownership', 'purpose', 'addr_state', 'initial_list_status', 'application_type', 'disbursement_method','grade', 'pymnt_plan']
onehot_df = data[onehot_columns]
onehot_df = pd.get_dummies(onehot_df, columns = onehot_columns)
score_onehot_drop = data.drop(onehot_columns, axis = 1)
data_encode = pd.concat([score_onehot_drop, onehot_df], axis = 1)

In [5]:
y=data['loan_status']
x=data_encode.loc[:, data_encode.columns != 'loan_status']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=2)

In [10]:
x.head()

  grade pymnt_plan  ...  disbursement_method_Cash  disbursement_method_DirectPay
0     C          n  ...                         1                              0
1     C          n  ...                         1                              0
2     B          n  ...                         1                              0
3     C          n  ...                         1                              0
4     F          n  ...                         1                              0

[5 rows x 134 columns]

In [ ]:
# not use
onehot_columns = ['home_ownership', 'purpose', 'addr_state', 'initial_list_status', 'application_type', 'disbursement_method']
onehot_df = score_df[onehot_columns]
onehot_df = pd.get_dummies(onehot_df, columns = onehot_columns)
score_onehot_drop = score_df.drop(onehot_columns, axis = 1)
score_onehot = pd.concat([score_onehot_drop, onehot_df], axis = 1)

### Hyperparameter



1.   Learning rate

In [ ]:
k_list=[]
for kkk in np.arange(0.05, 0.30, 0.01):
    xg=XGBClassifier(learning_rate=kkk,
                     n_estimators=100,
                     colsample_bytree = 0.4,
                     subsample = 0.8, 
                     max_depth=7,
                     gamma=10)
    xg.fit(x_train,y_train)
    y_hat=xg.predict(x_test)
    accuracy = accuracy_score(y_test, y_hat)
    k_list.append(accuracy)

In [ ]:
index=k_list.index(min(k_list))
grif=np.linspace(0.05, 0.30, num=25)[index]
print(grif)


2.   Number of estimators

In [ ]:
n_list=[]
for kkk in range(100, 1000,10):
    xg=XGBClassifier(learning_rate=grif,
                     n_estimators=kkk,
                     colsample_bytree = 0.4,
                     subsample = 0.8,
                     objective='binary:logistic', 
                     max_depth=7,
                     gamma=10)
    xg.fit(x_train,y_train)
    y_hat=xg.predict(x_test)
    accuracy = accuracy_score(y_test, y_hat)
    n_list.append(accuracy)

In [ ]:
index=n_list.index(min(n_list))
grif2=range(100, 1000,10)[index]
print(grif2)
print(min(n_list))

3. Subsample (0.8-1)

In [ ]:
s_list=[]
for kkk in np.linspace(0.8, 1, num=10):
    xg=XGBClassifier(learning_rate=grif,
                     n_estimators=grif2,
                     colsample_bytree = 0.4,
                     subsample = kkk,
                     objective='binary:logistic', 
                     max_depth=7,
                     gamma=10)
    xg.fit(x_train,y_train)
    y_hat=xg.predict(x_test)
    accuracy = accuracy_score(y_test, y_hat)
    s_list.append(accuracy)

In [ ]:
index=s_list.index(min(s_list))
grif3=np.linspace(0.8, 1, num=10)[index]
print(grif3)
print(min(s_list))

4. Colsample-bytree (0.3-0.8)

In [ ]:
c_list=[]
for kkk in range(0.3,0.8,num=25):
    xg=XGBClassifier(learning_rate=grif,
                     n_estimators=grif2,
                     colsample_bytree = kkk,
                     subsample = grif3,
                     objective='binary:logistic', 
                     max_depth=7,
                     gamma=10)
    xg.fit(x_train,y_train)
    y_hat=xg.predict(x_test)
    accuracy = accuracy_score(y_test, y_hat)
    c_list.append(accuracy)

In [ ]:
index=c_list.index(min(c_list))
grif4=range(0.3,0.8,num=25)[index]
print(grif4)
print(min(c_list))

### Fit Model

In [ ]:
xg=XGBClassifier(learning_rate=grif,
                     n_estimators=grif2,
                     colsample_bytree = grif4,
                     subsample = grif3,
                     objective='binary:logistic', 
                     max_depth=7,
                     gamma=10)
xg.fit(x_train,y_train)
y_hat=xg.predict(x_test)
accuray = accuracy_score(y_test, y_hat)
print(accuracy)